<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
	<Identity Name="23199Codermee.Weeker" Publisher="CN=2922802D-9ECC-4F76-98AE-6973234C0113" Version="2.0.0.2" />
	<mp:PhoneIdentity PhoneProductId="f00681cb-705e-4855-984e-06a6cef677c5" PhonePublisherId="f778e827-8e30-4efa-93e6-af4d33dbfd03" />
	<Properties>
		<DisplayName>Weeker</DisplayName>
		<PublisherDisplayName>Codermee</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>
	<Prerequisites>
		<OSMinVersion>6.3.1</OSMinVersion>
		<OSMaxVersionTested>6.3.1</OSMaxVersionTested>
	</Prerequisites>
	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	<Applications>
		<Application Id="xf00681cby705ey4855y984ey06a6cef677c5x" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
			<m3:VisualElements DisplayName="Weeker" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Weeker" ForegroundText="light" BackgroundColor="#464646">
				<m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
				</m3:DefaultTile>
				<m3:SplashScreen Image="Assets\Splashscreen.png" />
			</m3:VisualElements>
			<Extensions>
				<Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
					<BackgroundTasks>
						<Task Type="systemEvent" />
						<Task Type="timer" />
					</BackgroundTasks>
				</Extension>
			</Extensions>
		</Application>
	</Applications>
	<Extensions>
		<Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>AgHostSvcs.dll</Path>
				<ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
			</InProcessServer>
		</Extension>
	</Extensions>
</Package>